@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.training-design-title {
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

hr {
  display: block;
  height: 2px;
  background: transparent;
  width: 100%;
  border: solid 1px #000;
}

#customReactSelect .select2-selection__control .select2-selection__input-container,
#customReactSelect .select2-selection__control .select2-selection__placeholder,
#customReactSelect .select2-selection__menu .select2-selection__option,
#customReactSelect .select2-selection__multi-value__label {
  font-size: 0.8rem;
}

.select2-selection__input:focus {
  box-shadow: none;
}
